:root {
  --color-first: #CE7CE3;
  --color-secondary: #9A30B5;
  --color-warn: #f10707;

  --color-first-dark: #2b2a33;
  --color-secondary-dark: #fbfbfe;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
